/*
Copyright (c) 2013 Panayiotis Lipiridis

From http://flag-icon-css.lip.is
*/
.flag-icon-background {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
}
.flag-icon {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  position: relative;
  display: inline-block;
  width: 1.33333333em;
  line-height: 1em;
}
.flag-icon:before {
  content: "\00a0";
}

.flag-icon-cn {
  background-image: url(../flags/cn.svg);
}
.flag-icon-de {
  background-image: url(../flags/de.svg);
}
.flag-icon-en {
  background-image: url(../flags/en.svg);
}
.flag-icon-es {
  background-image: url(../flags/es.svg);
}
.flag-icon-fr {
  background-image: url(../flags/fr.svg);
}
.flag-icon-jp {
  background-image: url(../flags/jp.svg);
}
.flag-icon-kr {
  background-image: url(../flags/kr.svg);
}
.flag-icon-tr {
  background-image: url(../flags/tr.svg);
}