html {
    padding: 0.8em;
    min-width: 16em;
}

body {
    margin: auto;
    max-width: 69em;
}

.flag-icon {
    border-radius: 0.1em;
    border: 1px solid #ccc;
    box-shadow: 0.1em 0.1em 0.1em rgba(0,0,0,0.1);
}

header {
    border-bottom: 1px solid gray;
    padding: 0.4em;
    margin-bottom: 1em;
}

table.info {
    margin: 1em 0 1em 0;
    border-collapse: collapse;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

table.info td,
table.info th {
    padding: 0.6em;
    border-bottom: 1px solid black;
    text-align: left;
}

table.projects.info td:not(:nth-child(2)),
table.projects.info th:not(:nth-child(2)),
table.chapters.info td:not(:nth-child(2)),
table.chapters.info th:not(:nth-child(2)) {
    width: 1px;
    white-space: nowrap;
}

table.info td {
    border-bottom-color: gray;
}

table.wide.info {
    width: 100%;
}

table.project.info {
    float: right;
    margin: 1em;
}

table.project.info th {
    text-align: center;
}

table.project.info img.cover.thumbnail {
    max-width: 20em;
}

@media only screen and (max-width: 40em) {
  table.project.info {
    width: 100%;
    margin: 0;
  }

  table.project.info img.cover.thumbnail {
    max-width: 100%;
  }
}

p {
    text-align: justify;
    line-height: 1.4;
}

blockquote {
    margin-left: 20px;
    border-left: 10px solid #eee;
    padding-left: 10px;
}

h2.subtitle {
    margin-top: -0.8em;
    color: gray;
}

form.inline {
    display: inline;
}

form.details {
    margin-bottom: 24em;
}

form.details * {
    box-sizing: border-box;
}

form.details > label {
    display: block;
    font-weight: bold;
    font-size: 1.1em;
    margin: 1em 0 0.2em; 0;
}

form.details > input[type=radio] + label {
    display: inline;
    font-weight: initial;
    font-size: initial;
}

form.details > label + em {
    font-size: 0.8em;
}

form.details > input[type=submit] {
    margin-top: 1em;
}

form.details > input[type=text],
form.details > textarea {
    display: block;
    width: 100%;
    padding: 0.4em;
    background: none;
    border: none;
    border-bottom: 1px solid gray;
}

form.details > textarea {
    resize: vertical;
    min-height: 5em;
}

form.details > select,
form.details > input[type=submit] {
    width: 100%;
}

#chapter-list {
    clear: both;
}

.chapter.actions {
    float: right;
}
